@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png");
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}

.facebook {
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png");
    background-repeat: no-repeat;
    background-position: -414px -259px ;
    height: 16px;
    width: 16px;
}